<mat-dialog-content class="mat-typography">
  <mat-tab-group (selectedIndexChange)="onTabChange($event)">
    <mat-tab label="Login">
      <div class="input-field">
        <saar-text-input
          [placeholder]="'Email'"
          [value]="email"
          [customValidators]="emailValidators"
          [required]="true"
        ></saar-text-input>
      </div>
      <div class="input-field">
        <saar-text-input
          [placeholder]="'Password'"
          [type]="'password'"
          [value]="password"
          [minLength]="6"
          [required]="true"
        ></saar-text-input>
      </div>
    </mat-tab>
    <mat-tab label="Register">
      <div class="input-field">
        <saar-text-input
          [placeholder]="'Email'"
          [value]="email"
          [customValidators]="emailValidators"
          [required]="true"
        ></saar-text-input>
      </div>
      <div class="input-field">
        <saar-text-input
          [placeholder]="'Password'"
          [type]="'password'"
          [value]="password"
          [minLength]="6"
          [required]="true"
        ></saar-text-input>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()" style="margin-right: auto">
    Cancel
  </button>
  <button
    mat-raised-button
    color="primary"
    (click)="currentTabIndex() === 0 ? onLogin() : onRegister()"
  >
    {{ currentTabIndex() === 0 ? "Login" : "Register" }}
  </button>
</mat-dialog-actions>
