<h1>Settings</h1>
<p>Manage your settings here.</p>

<div class="settings-container">
  <div class="settings-item">
    <saar-text-input
      [placeholder]="'Username'"
      [value]="username"
      [minLength]="3"
      [maxLength]="20"
      [required]="true"
      (valueChange)="onUsernameChange($event)"
    ></saar-text-input>
  </div>

  <div class="settings-item">
    <saar-text-input
      [placeholder]="'Email'"
      [value]="email"
      [customValidators]="emailValidators"
      [required]="true"
      (valueChange)="onEmailChange($event)"
    ></saar-text-input>
  </div>

  <div class="settings-item">
    <saar-text-input
      [placeholder]="'Password'"
      [type]="'password'"
      [value]="password"
      [minLength]="6"
      [required]="true"
      (valueChange)="onPasswordChange($event)"
    ></saar-text-input>
  </div>
</div>
